In [1]:
import numpy as np
import pandas as pd
import datetime
import re
from sklearn.preprocessing import LabelEncoder

In [2]:
data = pd.read_csv('../datasets/top500_airroute.gz',compression='gzip',sep='\t')

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40522039 entries, 0 to 40522038
Data columns (total 5 columns):
dep_city       object
arr_city       object
dep_date       object
search_date    object
minprice       float64
dtypes: float64(1), object(4)
memory usage: 1.5+ GB

In [3]:
df = data.copy()

In [4]:
df['airroute'] = df['dep_city']+'-'+df['arr_city']

In [6]:
df.airroute.head()

0    西宁-北京
1    西宁-北京
2    西宁-北京
3    西宁-北京
4    西宁-北京
Name: airroute, dtype: object

In [5]:
%time label = LabelEncoder().fit_transform(df.airroute)

CPU times: user 52.4 s, sys: 2.02 s, total: 54.4 s
Wall time: 54.1 s

In [ ]:
df.insert(df.shape[1],'label',label)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40522039 entries, 0 to 40522038
Data columns (total 7 columns):
dep_city       object
arr_city       object
dep_date       object
search_date    object
minprice       float64
airroute       object
label          int64
dtypes: float64(1), int64(1), object(5)
memory usage: 2.1+ GB

In [12]:
df.head()

  dep_city arr_city    dep_date search_date  minprice airroute  label
0       西宁       北京  2017-10-20  2017-10-19     200.0    西宁-北京    380
1       西宁       北京  2017-11-26  2017-11-20     515.0    西宁-北京    380
2       西宁       北京  2018-03-21  2018-02-13     515.0    西宁-北京    380
3       西宁       北京  2018-03-11  2018-02-14     520.0    西宁-北京    380
4       西宁       北京  2018-03-01  2018-02-15     620.0    西宁-北京    380

In [2]:
df.join(pd.get_dummies(df.label))

NameError: name 'df' is not defined

In [1]:
df.info()

NameError: name 'df' is not defined